Makefile
autom4te.cache/
config.log
config.status
config/misccommands.cfg
config/nagios.cfg
config/ndo2db.cfg-sample
config/ndomod.cfg-sample
daemon-init
docs/docbook/en-en/Makefile
include/config.h
src/Makefile
src/db.o
src/dbhandlers-2x.o
src/dbhandlers-3x.o
src/dbhandlers-4x.o
src/file2sock
src/io.o
src/log2ndo
src/ndo2db-2x
src/ndo2db-3x
src/ndo2db-4x
src/ndomod-2x.o
src/ndomod-3x.o
src/ndomod-4x.o
src/sockdebug
src/utils.o
subst
