Makefile
autom4te.cache/
config.log
config.status
uninstall

include/common.h
include/config.h
include/dh.h
include/io.h

config/*.cfg
config/*.cfg-sample

docs/docbook/en-en/Makefile

nbproject/
CVS/

src/Makefile
src/*.o
src/file2sock
src/log2ndo
src/ndo2db-2x
src/ndo2db-3x
src/ndo2db-4x
src/sockdebug

startup/bsd-init
startup/debian-init
startup/default-inetd
startup/default-init
startup/default-service
startup/default-socket
startup/default-socket-svc
startup/default-xinetd
startup/mac-inetd.plist
startup/mac-init.plist
startup/newbsd-init
startup/openbsd-init
startup/openrc-conf
startup/openrc-init
startup/rh-upstart-init
startup/solaris-inetd.xml
startup/solaris-init.xml
startup/tmpfile.conf
startup/upstart-init
